<h1>{{title}} 🚀</h1>
<p>Welcome!</p>

<form action="/artist-search" method="GET">
  <input type="text" placeholder="artist" id="title" name="q" />
  <button type="submit">Search for an Artist</button>
</form>

<a href="/signup">Sign Up here</a>
<a href="/login">Log In here</a>
<a href="/logout">Log Out</a>
<a href="/profile">Profile Page</a>