<a href="/logout">Log Out</a>

<h1>Hey {{user.username}}</h1>
<div class="aboutme">
  <h3>About me:</h3>
  <p>{{user.aboutMe}}</p>
</div>

<a href="/wishlist">Wishlist</a>

<div class="collection-list">
</div>