<h1>Wishlist</h1>

<div class="wishlist">
  {{#each records}}
  <div class="album-card">
    <img src="{{thumb}}" alt="">
    <h2>{{artists_sort}}</h2>
    <h3>{{title}}</h3>
    <a href="/artist/{{id}}/deleteWishList"><button>Remove from wishlist</button></a>
  </div>
  {{/each}}
</div>