<h2>In Collection</h2>
<ul>
{{#each inCollection}}
    <li><a href="/profile/{{username}}">{{username}}</a></li>
{{/each }}
</ul>

<h2>In Wishlist</h2>

<ul>
{{#each inWishlist}}
  <li><a href="/profile/{{username}}">{{username}}</a></li>
{{/each}}
</ul>