<div class="album-stats">
  <div class="in-collection">
<h2>In Collection</h2>
<ul>
{{#each inCollection}}
    <li><a href="/profile/{{username}}">{{username}}</a></li>
{{/each }}
</ul>
</div>

<div class="in-wishlist">
<h2>In Wishlist</h2>
<ul>
{{#each inWishlist}}
  <li><a href="/profile/{{username}}">{{username}}</a></li>
{{/each}}
</ul>
</div>
</div>