@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,900;1,400;1,500&display=swap');

:root {
  --backgroundColor: #1b4d80;
  --white: #ffffff;
}

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  color: rgba(255, 255, 255, 0.788);
  font-weight: 400;
}

input:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

.search input {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
  max-width: 1000px;
  min-width: 200px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 30px;
  background-color: hsl(0, 0%, 18%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 65px;
}

.links>a {
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  margin: 1rem 0.5rem;
  color: rgba(0, 0, 0, 0.589);
  background-color: transparent;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 2px;
  letter-spacing: 1px;
}

#register {
  background-color: rgb(235, 235, 235);
  border: 2px solid white;
  color: black;
}

.search {
  margin: 0 4rem;
  flex-grow: 1;
}

main {
  min-height: 100vh;
}

section {
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
}

.artist-results {
  margin-top: 120px;
  text-align: center;
}

.artist-results h1 {
  margin: 3rem;
  font-size: 2rem;
}

.artist_container {
  margin: 0 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.artist-card img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.artist-card {
  margin-bottom: 3rem;
}

.artist-card a {
  text-align: center;
  color: black;
}

.index {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index h1 {
  text-align: center;
  width: 700px;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 3px;
}

.textbox {
  background-color: rgba(0, 0, 0, 0.651);
  padding: 3rem 4rem;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup form {
  border: 1.5px solid black;
  padding: 2rem;
}

form>div {
  margin-bottom: 1rem;
}

.signup h2 {
  margin-bottom: 2rem;
}

.signup p {
  margin-top: 2rem;
}

.signup button {
  color: white;
  background-color: black;
  border: none;
  display: block;
  margin: 2rem auto 0;
  padding: 0.5rem 1rem;
  width: 40%;
}

.signup label {
  display: inline-block;
  width: 100px;
}

.album-view {
  margin-top: 120px;
  text-align: center;
}

.album-view h1 {
  margin: 1rem;
  font-size: 2rem;
}

.album-view h2 {
  margin: 1rem;
  font-size: 1.5rem;
}

.album-view h3 {
  margin: 1rem;
  font-size: 1rem;
}

.album-view-container {
  margin: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.album-card {
  color: black;
  margin-bottom: 3rem;
}

.album-card a {
  text-align: center;
  color: black;
}

.album-card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.album-view button {
  display: flex;
  flex-direction: column;
  width: 9rem;
  align-items: center;
  background-color: white;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem auto;
  border: 2px solid black;
}